<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>employ</title>
<link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
</head>
<body>
<div class="container my-2" align="center">

<h3>employ List</h3>
<a th:href="@{/addemploy}" class="btn btn-primary btn-sm mb-3" >Add employ</a>
    <table style="width:80%" border="1" 
           class = "table table-striped table-responsive-md">
    <thead>
  <tr>
    <th>Employ No</th>
    <th>Name</th>
    <th>Gender</th>
    <th>Department</th>
    <th>Designation</th>
    <th>Basic</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="employ:${employList}">
      <td th:text="${employ.empno}"></td>
      <td th:text="${employ.name}"></td>
      <td th:text="${employ.gender}"></td>
      <td th:text="${employ.dept}"></td>
      <td th:text="${employ.desig}"></td>
        <td th:text="${employ.basic}"></td>
        <td> <a th:href="@{/updateform/{empno}(empno=${employ.empno})}" 
                class="btn btn-primary">Update</a> 
                <a th:href="@{/deleteemploy/{empno}(empno=${employ.empno})}"
                class="btn btn-danger">Delete</a>
    </td>
  </tr>
  </tbody>
</table>
</div>
</body>
</html>
