<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>com.java.mphasis</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/webapi/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloServlet</display-name>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.java.mphasis.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.java.mphasis.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NameServlet</display-name>
    <servlet-name>NameServlet</servlet-name>
    <servlet-class>com.java.mphasis.NameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NameServlet</servlet-name>
    <url-pattern>/NameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalcServlet</display-name>
    <servlet-name>CalcServlet</servlet-name>
    <servlet-class>com.java.mphasis.CalcServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalcServlet</servlet-name>
    <url-pattern>/CalcServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.java.mphasis.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HobbiesServlet</display-name>
    <servlet-name>HobbiesServlet</servlet-name>
    <servlet-class>com.java.mphasis.HobbiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HobbiesServlet</servlet-name>
    <url-pattern>/HobbiesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CouterServlet</display-name>
    <servlet-name>CouterServlet</servlet-name>
    <servlet-class>com.java.mphasis.CouterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CouterServlet</servlet-name>
    <url-pattern>/CouterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCookieServlet</display-name>
    <servlet-name>AddCookieServlet</servlet-name>
    <servlet-class>com.java.mphasis.AddCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCookieServlet</servlet-name>
    <url-pattern>/AddCookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCookieServlet</display-name>
    <servlet-name>ShowCookieServlet</servlet-name>
    <servlet-class>com.java.mphasis.ShowCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCookieServlet</servlet-name>
    <url-pattern>/ShowCookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryStringServlet1</display-name>
    <servlet-name>QueryStringServlet1</servlet-name>
    <servlet-class>com.java.mphasis.QueryStringServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryStringServlet1</servlet-name>
    <url-pattern>/QueryStringServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryStringServlet2</display-name>
    <servlet-name>QueryStringServlet2</servlet-name>
    <servlet-class>com.java.mphasis.QueryStringServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryStringServlet2</servlet-name>
    <url-pattern>/QueryStringServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.java.mphasis.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondServlet</display-name>
    <servlet-name>SecondServlet</servlet-name>
    <servlet-class>com.java.mphasis.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServlet</servlet-name>
    <url-pattern>/SecondServlet</url-pattern>
  </servlet-mapping>
</web-app>